
// Define theme colour scheme
$theme-color: #1d4f5a;
$text-color: #aabbd4;
$text-color-secondary: #0e1d33;
$text-grey: #7a7e85;
$divider: #e8e8e8;
$lighter-grey: rgb(61, 53, 53);
$darker-grey: #666;
$smoky-white: #362f2f;
$heart: #fb866a;


//*************************** Theme Styles ****************************/
// Import theme styles
@import "theme/mixins";
@import "theme/base";
@import "theme/responsive";






















